/* Style the tab */
.clear{
  clear: both;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.header img{
  float: left;
  width: 130px;
  margin-bottom: 15px;
  padding-left: 25px;
}
.header__title{
    text-align: center;
    line-height: 15px;
    display: inline;
    float: left;
    margin-left: 8%;
    padding-top: 25px;
  }
  .header__title h1 span:first-child,.header h1 span:nth-child(3){
    color: #04581d;
  }
  .header__title h1 span:nth-child(2){
    color: rgb(193, 7, 7);
    font-size: 50px;
  }
  .header__title h1 span:nth-child(4){
    color: red;
    font-size: 40px;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #69efad;
    background-color: #69efad;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .tabcontent h2{
    text-align: center;
    width: 500px;
    font-weight: bold;
    color: blue;
    padding-left: 10px;
  }
  .tabcontent h3{
    width: 500px;
    background-color: rgb(189, 107, 248);
    text-align: center;
  }
  .audio {
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px groove #69efad;
  }
  
  table {
    border-collapse: collapse;
    text-align: center;
  }
  
  th {
    background-color: #69efad;
    padding: 5px 10px;
    font-size: 18px;
  }
  
  td {
    padding: 5px 10px;
  }
  
  .rowle {
    background-color: #e8fcf4;
  }
  
  .rowchan {
    background-color: white;
  }
  p{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .control-audio {
    cursor: pointer;
  }
  .tabcontent p span{
    cursor: pointer;
  }
  .tabcontent p span:hover{
    background-color: aqua;
  }